<?xml version="1.0" encoding="UTF-8"?>
<!-- Created with TexturePacker https://www.codeandweb.com/texturepacker -->
<!-- $TexturePacker:SmartUpdate:106654c8ee66f922dd5dcfdc5672a87f:efaefbe3d19ec8ab870b83592458227c:f377df62a31e1905f0a323c6fd91d4cd$ -->
<!--Format:
n  => name of the sprite
x  => sprite x pos in texture
y  => sprite y pos in texture
w  => sprite width (may be trimmed)
h  => sprite height (may be trimmed)
pX => x pos of the pivot point (relative to sprite width)
pY => y pos of the pivot point (relative to sprite height)
oX => sprite's x-corner offset (only available if trimmed)
oY => sprite's y-corner offset (only available if trimmed)
oW => sprite's original width (only available if trimmed)
oH => sprite's original height (only available if trimmed)
r => 'y' only set if sprite is rotated
with polygon mode enabled:
vertices   => points in sprite coordinate system (x0,y0,x1,y1,x2,y2, ...)
verticesUV => points in sheet coordinate system (x0,y0,x1,y1,x2,y2, ...)
triangles  => sprite triangulation, 3 vertex indices per triangle
-->
<TextureAtlas imagePath="menu.png" width="256" height="512">
    <sprite n="but_facebook" x="127" y="1" w="76" h="76" pX="0.5" pY="0.5"/>
    <sprite n="but_googleplus" x="127" y="78" w="76" h="76" pX="0.5" pY="0.5"/>
    <sprite n="but_instagram" x="127" y="155" w="76" h="76" pX="0.5" pY="0.5"/>
    <sprite n="but_newspage" x="127" y="232" w="76" h="76" pX="0.5" pY="0.5"/>
    <sprite n="but_twitter" x="127" y="309" w="76" h="76" pX="0.5" pY="0.5"/>
    <sprite n="but_youtube" x="1" y="356" w="76" h="76" pX="0.5" pY="0.5"/>
    <sprite n="changelog_deco_military" x="1" y="1" w="125" h="354" pX="0.5" pY="0.5" r="y"/>
</TextureAtlas>
